.footer {
  background-color: $ms-color-primary-100;
  padding: px-to-rem(20px);
  border-top: 1px solid $ms-color-border-primary-60;
  border-bottom: 1px solid $ms-color-border-primary-60;
  display: flex;
  justify-content: center;
}

[data-theme='dark'] .footer {
  background-color: $ms-color-background;
}
