@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin focus {
  &:not([disabled]):focus {
    @content;
  }
}

@mixin hover {
  &:not([disabled]):hover {
    @content;
  }
}
